* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    background-repeat: no-repeat;
}

body {
    overflow: hidden;
}

.display {
    background-image: none;
    background-size: cover;
    background-color: #ddd;
    background-position: center center;
    width: 100vw;
    height: 100vh;
}

.display.dropping {
    opacity: 0.5;
}

.display-list {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 50px;
    justify-items: center;
    padding: 50px;
    justify-content: space-around;
    align-content: center;
}

.display-list-item {
    width: 100%;
    height: 250px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.display-list-item:hover {
    border: 1px solid rgba(0,0,0,0.3);
}

.display-list-item:hover .display-list-item-image {
    opacity: 0.4;
}

.display-list-item-image {
    background-size: cover;
    background-position: center center;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    filter: blur(2px);
}

.display-list-item-name {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 6px 12px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgba(255,255,255,0.2);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    font-weight: 600;
    color: #333;
}

.add-display {
    border: 0;
    background-color: #ddd;
    border-radius: 5px;
    font-size: 2em;
    opacity: 0.4;
    cursor: pointer;
    color: #000;
    height: 250px;
}

.add-display:hover {
    opacity: 1;
}

.add-display span {
    display: block;
    padding-top: 60px;
    background-image: url(add.svg);
    background-position: center top;
    background-size: auto 50px;
}